name: Auto Changelog

on:
  push:
    branches:
      - main
      - release

permissions:
  contents: write

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install git-cliff
        run: |
          curl -L https://github.com/orhun/git-cliff/releases/download/v2.6.1/git-cliff-2.6.1-x86_64-unknown-linux-gnu.tar.gz \
          | tar xz
          sudo mv git-cliff-2.6.1/git-cliff /usr/local/bin/git-cliff

      - name: Generate Changelog
        run: |
          git cliff -c cliff.toml -o CHANGELOG.md

      - name: Commit Changelog
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add CHANGELOG.md
          git commit -m "chore: update changelog" || echo "No changes"
          git push
